<div class="container">

			<div class="row">
										<div class="col-md-12">
														<h1 class="text-center"> CALCULADORA</h1>
										</div>		

			</div>

    <div class="row">

            <div class="col-md-12">

                   <div class="form-group">
                        	<label>Numero 1 :</label>
																									<input   type="number" class="form-control"  [(ngModel)]="numero1" placeholder="Ingresa el primer numero " />
																				</div>


																			<div class="form-group">
																								<label>Numero 2:</label>
																								<input type="number" class="form-control" [(ngModel)]="numero2"   placeholder="Ingresa el  segundo numero "/>
																			</div>


																			<div class="form-group">
																									<input class="form-control btn btn-success" type="submit"  value ="calcular" (click)="sumar()" [disabled]="numero1==null || numero2==null"/> 
																		</div>
												</div>

					</div>

</div>






